.profileData {
  list-style: none;
  font-size: 20px;
  text-align: center;
  padding-left: 0;

  li {
    margin-bottom: 20px;
  }
}

.loading, .loadingError {
  text-align: center;
  font-size: 20px;
}

.inputError {
  color: red;
  font-size: 12px;
  height: 12px;
  display: block;
  margin: 5px 0;
}