.usersList {
  margin-bottom: 40px;
}

.userInfo {
  font-size: 20px;
  padding: 10px 30px;
  margin: 0;

  p {
    margin: 0;
  }
}

.userInfo:nth-child(odd) {
  background: #f1f1f1;
}

.usersAmount {
  font-size: 20px;
}
